body {
  font-family: sans-serif;
  background-color: whitesmoke;
  background-image: inherit;
}

.app {
  display: flex;
  margin: 0px 15px;
  justify-content: center;
}

.app__clock {
  color: red;
  margin-left: 10px;
}

.login-form {
  width: 10%;
  margin-bottom: 5px;
}

.login-form__login {
  width: 177px;
}

.hidden {
  display: none;
}

.login-form__password {
  margin-bottom: 5px 0px;
}

img {
  width: 100%;
}
